@model IEnumerable<MvcShop.Models.ViewModels.Orders.OrderVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@Html.Action("UserNavPartial", "Account", new { area = "" })

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Account/Profile">Profile settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="/Account/Logout">Logout</a>
    </li>
</ul>

<table class="table">
    <tr>
        <th>
            Product Info
        </th>
        <th>
            Delivery Info
        </th>
        <th>
            Created At
        </th>
        <th>
            Delivery Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
        </tr>
    }

</table>
